body {
  background-color: rgba(150, 132, 112, 0.993);
  font-family: "Tahoma",Helvetica,Arial,sans-serif;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-family: "Courier";
  font-size: 60px;
}

#createdBy{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #7e4745;
  height: 56px;
  /* padding-left: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header span {
  font-family: "Roboto";
  font-size: 24px;
  color: rgb(17, 17, 17);
  padding-right: 15px;
}

#header a {
  margin: 10px;
  padding-left: 10px;

}


#container {
  background-color: #5f3636;
  box-shadow: 2px 2px 5px rgb(119, 104, 86);
  width: 50%;
  margin-top: 50px;
  min-width: 700px;
  border-radius: 5px;
}

#inputContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 25px;
}

#toDoInput {
  outline: none;
  width: 75%;
  padding-left: 10px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
}

#addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  background: #664444;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

#toDoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.toDoShell {
  width: 650px;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(146, 130, 117);
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

.toDoShell span {
  width: 90%;
}
.completeText {
  color: lightgrey;
  text-decoration: line-through;
}

.completeCheckbox {
  transform: scale(1.8);
}
